@page "/post"
@using BasementBlog.DTO
@using BlazorBlog.Client.Services;

@inject IPostServices PostService

<h3>Posts</h3>

@if (posts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Category</th>
                <th>Published</th>
                <th>Modified</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var post in posts)
            {
                <tr>
                    <td>@post.Title</td>
                    <td>@post.Description</td>
                    <td>@post.CategoryName</td>
                    <td>@post.PublishDate.ToShortDateString()</td>
                    <td>@post.ModifiedDate.ToShortDateString()</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<PostDTO> posts;

    protected override async Task OnInitializedAsync()
    {
        posts = await PostService.GetPostsAsync();
    }
}