@page "/postEditor";

 <MudContainer>
     <MudGrid>
         <!-- Title and Description inputs -->
         <MudItem xs="12" sm="12" md="12" lg="12" xl="12" class="mb-4">
             <MudTextField Label="Title" @bind-Value="@PostTitle" />
         </MudItem>

         <MudItem xs="12" sm="12" md="12" lg="12" xl="12" class="mb-4">
             <MudTextField Label="Description" @bind-Value="@PostDescription" />
         </MudItem>

         <!-- Body input and Preview text -->
         <MudItem xs="12" sm="6" md="6" lg="6" xl="6" class="mb-4">
            <MudTextField Multiline Rows="10" Immediate="true" AutoGrow Label="Body" @bind-Value="@PostContent" />
         </MudItem>

         <MudItem xs="12" sm="6" md="6" lg="6" xl="6" class="mb-4">
             <div class="preview-container">
                 <h3>Preview</h3>
                 @((MarkupString)PostPreview)
            </div>
        </MudItem>

        <!-- Save button -->
        <MudItem xs="12">
            <MudButton Color="MudBlazor.Color.Primary" OnClick="@SaveOrUpdatePostCommand" Variant="Variant.Filled">Save</MudButton>
        </MudItem>
    </MudGrid>
</MudContainer>